<nav>
  <div class="logo">
    <h2>Dashboard</h2>
  </div>

  <div class="menu">
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="#">Menu 2</a></li>
      <li><a href="#">Menu 3</a></li>
    </ul>
  </div>
  <div class="logout">
    <a href="/logout">Logout</a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid lightgrey;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fff;
  }

  .menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin: 0 10px;
  }

  .menu a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
  }
</style>
