<html>
  <head>
    <title>Dashboard</title>
    <link href="css/dashboard.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main class="container">
      <p>Hello, <%= username %></p>
      <p>Protected content</p>
    </main>
  </body>
</html>
