<html>
  <head>
    <title>Error</title>
    <link href="css/error.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="main">
      <h2>Error</h2>
      <p class="message"><%= message %></p>
      <p><a href="javascript:history.back()">← Go back</a></p>
    </div>
  </body>
</html>
