<html>
  <head>
    <title>Login</title>
    <link href="css/login.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="main">
      <h2>Login</h2>
      <form method="POST" action="/login">
        <p>
          <input
            class="field"
            type="text"
            placeholder="username"
            name="username"
          />
        </p>
        <p>
          <input
            class="field"
            type="password"
            placeholder="password"
            name="password"
          />
        </p>
        <button class="button" type="submit">Login</button>
      </form>
      <p>
        <span class="link">Don't have an account? </span
        ><a href="/registration">Registration</a>
      </p>
    </div>
  </body>
</html>
