<html>
  <head>
    <title><%= title %></title>
    <link href="css/message.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="main">
      <h2><%= title %></h2>
      <p class="message"><%= message %></p>
      <p><a href="javascript:history.back()">← Go back</a></p>
    </div>
  </body>
</html>
