<html>
  <head>
    <title>Reset password</title>
    <link href="css/login.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="main">
      <h2>Reset password</h2>
      <form method="POST" action="/reset">
        <p>
          <input class="field" type="text" placeholder="email" name="email" />
        </p>
        <button class="button" type="submit">Submit</button>
        <p><a href="javascript:history.back()">â† Go back</a></p>
      </form>
    </div>
  </body>
</html>
