body {
  color: #212427;
  margin: 0;
  padding: 0;
  background-color: #f8f9fd;
}

.container {
  max-width: 90%; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Центрируем контейнер по горизонтали */
  padding: 0 20px; /* Добавляем отступы слева и справа для контента */
}

a {
  text-decoration: none;
  color: #212427;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
